* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
a {
	color: #fafafa;
	text-decoration: none;
}
header {
	background-color: #ec715f;
	height: 70px;
}
.container {
	width: 1024px;
	margin:0 auto;
}
.header-logo {
	height: 70px
}
.nav {
	float: right;
}
.nav li {
	float: left;
	padding: 0, 30px;
	width: 120px;
	list-style: none;
	line-height: 70px;
	font-size: 16px;
	color: #fafafa;
}
.menu-box {
	display: none;
}
.main-visual {
	background-image: url(img/mv.png);
	background-size: 100%;
	height: 650px;
	color: #fafafa;
	text-align: center;
}
.main-visual h1 {
	font-size: 64px;
	padding-top: 200px;
	padding-bottom: 10px;
}
.main-visual p {
	font-size: 20px;
}
#portfolio {
	background-color: #eceff1;
	text-align: center;
	color: #000000;
	padding-bottom: 90px;
}
#portfolio h2 {
	font-size: 32px;
	padding-top: 90px;
	padding-bottom: 8px;
}
#portfolio h2::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin:0 auto;
}
#portfolio p {
	font-size: 16px;
	padding: 30px 0;
}
.portfolio-box{
	width: 920px;
	margin: 0 auto;
}
.box {
	width:300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	float: left;
}
.portfolio1 {
	background-image: url(img/sketch.jpg);
	margin-bottom: 10px;
}
.portfolio2 {
	background-image: url(img/websuku.png);
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.portfolio3 {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}
.portfolio4 {
	background-image: url(img/webcamp.png);
}
.portfolio5 {
	background-image: url(img/talk.jpg);
	margin: 0 10px;
}
.portfolio6 {
	background-image: url(img/webcamp-mother.png);
}

#feature {
	width: 980px;
	padding: 90px 0;
	margin: 0 auto;
	color: #000000;
}
#feature h2{
	text-align: center;
	font-size: 32px;
	padding-bottom: 8px;
}
#feature h2::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin:0 auto;
}
.feature-text {
	padding: 30px 0;
	font-size: 16px;
	text-align: center;
}
.strength {
	width: 320px;
	float: left;
}
.strength2 {
	margin: 0 10px;
}
.strength i {
	font-size: 60px;
}
.strength-title {
	font-size: 20px;
	padding: 10px 0;
}
.strength-text {
	font-size: 16px;
	text-align: left;
}
.plofile {
	background-color: #eceff1;
	padding: 90px 0;
}
.plofile-box {
	width: 1024px;
	margin: 0 auto;
	color: #000000;
}
.plofile h2 {
	font-size: 32px;
	text-align: center;
	padding-bottom: 8px;
}
.plofile h2::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin:0 auto;
}
.plofile-text {
	font-size: 16px;
	padding: 30px 0;
	text-align: center;
}
.plf {
	width: 50%;
	float: left;
}
.plofile-img {
	background-image: url(img/my-icon.jpg);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
}
.myplofile-title {
	font-size: 20px;
	padding-bottom: 5px;
}
.myplofile-text {
	font-size: 16px;
}
.myskills {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
}
.contact {
	width: 800px;
	margin: 0 auto;
	padding: 90px 0;
	color : #000000;
}
.contact h2 {
	font-size: 32px;
	padding-bottom: 8px;
	text-align: center;
}
.contact h2::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin:0 auto;
}
.contact-text {
	font-size: 16px;
	padding: 30px 0;
	text-align: center;
}
.contact-box {
	width: 50%;
	float: left;
	margin: 0 auto;
}
.contact-box h3 {
	font-size: 20px;
	padding-bottom: 5px;
}
.mail{
	padding-bottom: 20px;
}
.btn {
	font-size: 50px;
}
.twt {
	padding: 0 20px;
}
footer {
	background-color: #ec715f;
	height: 60px;
}
.footer-logo {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}
@media screen and (max-width:767px) {
	header {
		height: 50px;
		width: 100%;
	}
	.container {
		width: 90%;
		margin: 0 auto;
	}
	.header-logo {
		height: 50px;
	}
	.menu-box {
		display: block;
		border: 1px solid #fafafa;
		height: 40px;
		width: 40px;
		float: right;
		margin: 5px 0;
	}
	.list-ber:first-child {
		margin-top: 10px;
	}
	.list-ber {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #fafafa;
	}
	.list-ber:last-child {
		margin-bottom: 10px;
	}
	.nav {
		display: none;
	}
	.main-visual {
	background-image: url(img/code.png);
	background-size: cover;
	background-position: center;
	height: 650px;
	color: #fafafa;
	text-align: center;
	}
	.main-visual h1 {
		font-size: 40px;
		padding-top: 200px;
		padding-bottom: 10px;
	}
	.main-visual p {
		font-size: 18px;
	}
	#portfolio {
		width: 100%;
	}
	#portfolio h2 {
		font-size: 32px;
		padding-bottom: 8px;
	}
	#portfolio p {
		width: 90%;
		margin: 0 auto;
		font-size: 16px;
	}
	.portfolio-box {
		width: 90%;
		margin: 0 auto;
	}
	.box {
		float: none;
		margin: 0 auto;
	}
	.portfolio1 {
		display: none;
	}
	.portfolio2 {
		margin: 0 auto;
	}
	.portfolio3 {
		display: none;
	}
	.portfolio4 {
		margin: 10px auto;
	}
	.portfolio5 {
		display: none;
	}
	#feature {
		width: 90%;
	}
	.strength {
	width: 90%;
	margin: 0 auto;
	float: none;
	text-align: center;
	}
	.strength2 {
		margin: 10px auto;
	}
	

}
